<mat-toolbar>
  <nav class="header-navigation">
    <a class="header-logo"><b>Booking house</b></a>
    <ul class="header-navigation-list">
      <li><a>Поиск жилья</a></li>
      <li><a>Закладки</a></li>
      <li><a>Собственникам</a></li>
      <li><a>Сотрудничество</a></li>
      <li><a>Поддержка</a></li>
    </ul>
    <ul class="header-auth">
      <li><button class="button">Войти</button></li>
      <li><button class="button">Регистрация</button></li>
    </ul>
  </nav>
</mat-toolbar>
